---
layout: default
---

{% include menu.html %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    Contact
  </h1>



    <ul class="post-list">
      <h4>Get in touch</h4>
    <ul>
      <li>95joaopereira@gmail.com</li>
      <li><a href="https://calendly.com/joaomacp">Schedule a meeting with me</a></li>
    </ul>
    <h4>My profiles</h4>
    <ul>
      <li><a href="https://github.com/joaomacp">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/joaomanuelpereira">LinkedIn</a></li>
      <li><a href="/assets/CV.pdf">Download CV</a></li>
    </ul>
  </ul>
    
  
    

</main>