---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<article class="post h-entry divided" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

<div class="post-content e-content" itemprop="articleBody">
<p>
I'm a goal-driven engineer, capable of implementing complete solutions and improving existing software.
I strive for efficient approaches with minimal complexity.
</p>

<p>
I've worked on robotics for 5 years, mainly on vision-based manipulation systems, with some projects on mobile robots.
Previously I've done software consulting outside of robotics.
</p>

<p>I'm interested in projects involving sensing, perception, machine-learning and adaptive control, ideally for a purposeful product that improves people's lives.</p>
</div>

</article>